.halfsize {
  width : 70%;
}

.smallersize {
  width : 50%;
}


.mytitle {
  position : fixed;
  left: 8em;
  top: 5em;
}

.mythanks {
  position : fixed;
  left: 12em;
  top: 8em;
}
/* Use green cloud for all unordered lists */
ul > li {
  list-style-image: url(../icons/cloud-blue.png);
}

/* Edit color of header in distance matrix */
.dist thead th:nth-child(2) {
  color: #E69F00;
}
.dist thead th:nth-child(3) {
  color: #56B4E9;
}
.dist thead th:nth-child(4) {
  color: #009E73;
}

.date-footnote {
    content: "AALiCo, 10/09/2021";
    position: absolute;
    bottom: 0px;
    left: 35px;
    height: 40px;
    color: #0266a0;
    font-size: 0.9rem;
}